.container {
  background: #161616;
  position: fixed;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: left;
  font-size: 12px;
}

.inv {
  background: white;
  z-index: 100;
  width: 600px;
  height: 100%;
  margin: 0 auto;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  margin-top: 0;
}

.headers p {
  margin: 0;
}

ul {
  list-style: none;
  align-items: left;
}
.headers ul {
  list-style: none;
  margin-right: 30px;
}

.headers ul li {
  border: 1px solid black;
  margin-left: 0;
  margin-right: auto;
}

.billing {
  border: 1px solid black;
  background: #dddddd;
  font-size: 14px;
  margin: 10px;
  width: 50%;
}

.details {
  margin: auto 0;
}

.table {
  width: 90%;
  margin: 20px auto;
}

table,
th {
  border: 1px solid black;
  border-collapse: collapse;
  align-items: center;
  padding: 10px;
  border-spacing: 0 15px;
}

.total {
  border-top: 1px solid black;
}

.payment {
  width: 90%;
  font-size: 9px;
  color: black;
  margin: 20px auto 0;
}
.payment p {
  width: 100%;
}
