.list {
  height: 100%;
  position: relative;
  background: #161616;
  position: inherit;
  margin-bottom: 0;
}

.list ul {
  list-style: none;
  position: relative;
  margin: 0;
}

.list li {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 20%;
  margin: 20px 60px;
  background: #343a40;

  min-width: 250px;
}
